@import '../../styles/base.scss';

.goods-details-container {
    overflow: hidden;
    min-height: 100vh;
    background: #fff;
    .price-wrap {
        padding: 0 Px(10);
        overflow: hidden;
        box-sizing: border-box;
        width: 100%;
        height: Px(42);
        color: #F56A01;
        border-bottom: 1px solid #E9E9E9;
        background: #fff;

        .price {
            float: left;
            font-size: Px(18);
            line-height: Px(42);

            span {
                font-size: Px(12);
            }
        }

        .price-tip {
            padding: Px(4) Px(8) Px(2);
            float: left;
            margin-top: Px(10);
            margin-left: Px(15);
            font-size: Px(12);
            background: #FFF7F2;
            border-radius: Px(10);
        }
    }

    .goods-name {
        box-sizing: border-box;
        padding: Px(10);
        font-size: Px(16);
        color: #222222;
        background: #fff;
    }

    .num-wrap {
        padding: 0 Px(10);
        font-size: Px(12);
        color: #999999;
        background: #fff;
        padding-bottom: Px(15);

        span {
            display: inline-block;
        }

        .money {
            margin-left: Px(30);
        }
    }

    .speaker {
        box-sizing: border-box;
        padding: 0 Px(10);
        background: #F4F4F4;
        font-size: Px(12);
        color: #F56A01;
        height: Px(28);
        line-height: Px(28);

        img {
            display: block;
            float: left;
            margin: Px(8) Px(6) Px(6) 0;
            width: Px(12);
        }

        div {
            float: left;
        }
    }

    .intro-wrap {
        overflow: hidden;
        background: #fff;
        padding: Px(10);
        font-size: Px(14);
        color: #222222;

        img {
            display: block;
            width: 100%;
        }
    }

    .bot-blank {
        height: Px(64);
        width: 100%;
    }

    .bot-btn {
        position: fixed;
        bottom: 0;
        left: 0;
        overflow: hidden;
        box-sizing: border-box;
        padding: 0 Px(10);
        height: Px(64);
        width: 100%;
        background: #fff;

        .btn {
            margin-top: Px(10);
            box-sizing: border-box;
            height: Px(44);
            line-height: Px(44);
            width: Px(166);
            text-align: center;
            font-size: Px(16);
            border-radius: Px(5);

            &.order {
                float: left;
                line-height: Px(42);
                // background: #fff;
                border: Px(2) solid #F56A01;
                color: #F56A01;
            }

            &.exchange {
                float: right;
                background-image: linear-gradient(-180deg, #FBA302 0%, #F56A01 100%);
                color: #fff;
            }
        }
    }
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 10;
}